$white_color: #ffffff;
$black_color: #000000;
$light_primary: #166e29;
$dark_primary: #2fed59;
$light_info: #ffffff66;
$dark_info: #00000066;
$light_secondary: #ffffffa6;
$dark_secondary: #000000a6;
$light_accent: #d1d4dc;
$dark_accent: #293345;
$light_error: #ff2b5e;
$dark_error: #ff2b5e;
$light_success: #32fa5d;
$dark_success: #32fa5d;
$light_warning: #ff922e;
$dark_warning: #ff922e;