/* BASE */
a{
  text-decoration: none;
  color:#23ad41!important;
}
.flexNone{
  flex: none;
}
/* CUSTOM BUTTONS AND TEXTS*/
.success-btn{
  width: 100%;
  background: linear-gradient(94.9deg,#2fed59 4.26%,#23ad41 95.87%);
  color: white!important;
}
.success-text{
  color:#23ad41;
}
/*CURRENCY*/
.currency-chip{
  width: 10px!important;
}
.coinList .chip{
  background: lightgray;
  padding: 1px;
  text-align: center;
  font-size: 13px;
  border-radius: 20px;
  width: 5px!important;
}
