@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Cera Pro Light"), local("CeraPro-Light"), url("~assets/fonts/CeraPro-Light.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("~assets/fonts/CeraPro-Light.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Cera Pro";
    font-style: italic;
    font-weight: 500;
    src: local("Cera Pro Medium Italic"), local("CeraPro-MediumItalic"), url("~assets/fonts/CeraPro-MediumItalic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("~assets/fonts/CeraPro-MediumItalic.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Cera Pro";
    font-style: italic;
    font-weight: normal;
    src: local("Cera Pro Regular Italic"), local("CeraPro-RegularItalic"), url("~assets/fonts/CeraPro-RegularItalic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("~assets/fonts/CeraPro-RegularItalic.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Cera Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Cera Pro Black Italic"), local("CeraPro-BlackItalic"), url("~assets/fonts/CeraPro-BlackItalic.woff2") format("woff2"), url("~assets/fonts/CeraPro-BlackItalic.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 500;
    src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("~assets/fonts/CeraPro-Medium.woff2") format("woff2"), url("~assets/fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: italic;
    font-weight: bold;
    src: local("Cera Pro Bold Italic"), local("CeraPro-BoldItalic"), url("~assets/fonts/CeraPro-BoldItalic.woff2") format("woff2"), url("~assets/fonts/CeraPro-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-weight: 100;
    font-style: italic;
    src: local("Cera Pro Thin Italic"), local("CeraPro-ThinItalic"), url("~assets/fonts/CeraPro-ThinItalic.woff2") format("woff2"), url("~assets/fonts/CeraPro-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Cera Pro Light Italic"), local("CeraPro-LightItalic"), url("~assets/fonts/CeraPro-LightItalic.woff2") format("woff2"), url("~assets/fonts/CeraPro-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Cera Pro Black"), local("CeraPro-Black"), url("~assets/fonts/CeraPro-Black.woff2") format("woff2"), url("~assets/fonts/CeraPro-Black.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: bold;
    src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("~assets/fonts/CeraPro-Bold.woff2") format("woff2"), url("~assets/fonts/CeraPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: normal;
    src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("~assets/fonts/CeraPro-Regular.woff2") format("woff2"), url("~assets/fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 100;
    src: local("Cera Pro Thin"), local("CeraPro-Thin"), url("~assets/fonts/CeraPro-Thin.woff2") format("woff2"), url("~assets/fonts/CeraPro-Thin.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("~assets/fonts/rubik-v14-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("~assets/fonts/rubik-v14-latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: auto;
}


/* inter-500 - latin */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("~assets/fonts/inter-v3-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("~assets/fonts/inter-v3-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}